* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font: 13px -apple-system, sans-serif;
}

/* ========== */
/* = Header = */
/* ========== */

.app-header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 0;
  z-index: 100;
}

.ios .app-header {
  background-color: rgba(250, 250, 250, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.app-header h1 {
  font: 15px sans-serif;
  text-align: center;
  margin-top: 11px;
}

/* ========= */
/* = Views = */
/* ========= */

main {
  margin-top: 40px; /* .app-header height */
  margin-bottom: 50px; /* .app-footer height */
  overflow-y: scroll;
}

.view {
  padding: 12px;
}

.inactive {
  background-color: #ddd;
  transition: background-color 300ms ease-out;
}

/* View Footer */

.view.has-footer {
  margin-bottom: 35px;
}

.view-footer {
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 8px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  bottom: 50px; /* .app-footer height */
  left: 0;
}

/* ====== */
/* = UI = */
/* ====== */

.button {
  -webkit-appearance: none;
  display: block;
  flex: auto 1 1;
  font-size: 13px;
  color: #fff;
  padding: 8px;
  background-color: #0A60FE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

label {
  display: block;
}

input[type=search] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
}

/* ========== */
/* = Tables = */
/* ========== */

#view-tables {
  overflow: hidden;
}

.table {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background-color: #ddd;
  float: left;
  margin: 1.666666666%;
}

.table-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ========== */
/* = Footer = */
/* ========== */

.app-footer {
  position: fixed;
  font-size: 0.85em;
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.ios .app-footer {
  background-color: rgba(250, 250, 250, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.app-footer ul {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  list-style: none;
  touch-action: none;
}

.app-footer li {
  min-width: 42px;
}

.app-footer li:not(:last-child) {
  margin-right: 2em;
}

.app-footer a {
  display: block;
  color: #444;
  text-decoration: none;
}

.app-footer a svg {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
}

.app-footer a svg.small {
  width: 26px;
  height: 26px;
  margin: 2px auto;
}

.app-footer svg * {
  fill: #555;
  stroke: #555;
}

.app-footer a span {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-bottom: 3px;
  margin-left: auto;
}

.app-footer .active svg * {
  fill: #0A60FE;
  stroke: #0A60FE;
}

.app-footer .active a {
  color: #0A60FE;
}